.clients {
    padding: 100px 0;
    background-color: $liteBlack;
    color: $liteWhite;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        padding-left: 35px;
    }

    &__overhead {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    &__title {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 14px;
        color: $white;
    }

    &__text {
        font-size: 15px;
        line-height: 24px;
        max-width: 442px;
    }

    &__logo{
        margin-right: 140px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 100px;

        & .clients__logo-item:nth-child(1){
            align-self: center;
        }

        & .clients__logo-item:nth-child(2){
            align-self: end;
        }
    }
}

@media (max-width: 1000px) {
    .clients{
        &__content{
            flex-direction: column;
            gap: 30px;
            align-items: center;
        }
        &__logo{
            margin-right: 0;
        }
    }
}

@media (max-width: 500px) {
    .clients__logo{
        grid-gap: 70px;
    }
}
