.header {
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        padding-left: 15px;
    }

    &__burger-menu {
        display: flex;
        align-items: center;
        gap: 31px;
    }

    &__menu-list {
        display: flex;
        gap: 31px;
        align-items: center;
    }

    &__menu-link {
        font-size: 15px;
        color: $black;
    }

    &__top-button {
        padding: 11px 20px;
        background-color: $black;
        border-radius: 14px;
    }

    &__top-btn {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.4px;
        color: $white;
    }

    &__burger-btn {
        display: none;
    }

    &__content {
        background-color: $liteWhite;
        padding-top: 139px;
        padding-bottom: 128px;
        position: relative;

    }

    &__img{
        position: absolute;
        content: '';
        right: 0;
        bottom: 0;
    }
    &__overhead {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $brown;
        margin-bottom: 20px;
    }

    &__title {
        font-size: 64px;
        line-height: 70px;
        color: $black;
        max-width: 417px;
        margin-bottom: 18px;
    }

    &__text {
        max-width: 509px;
        margin-bottom: 41px;
    }

    &__btn {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.4px;
        color: $black;
        padding-left: 24px;
    }
}

@media (max-width: 1250px) {
    .header{
        &__info{
            z-index: 2;
        }

        &__img{
            z-index: 1;
            opacity: .1;
        }
    }
}
@media (max-width: 830px) {
    .header{
        overflow: hidden;
        &__top{
            position: relative;

        }

        &__burger-menu{
            position: absolute;
            content: '';
            flex-direction: column;
            align-items: center;
            z-index: 3;
            gap: 10px;
            top: 0%;
            right: -3%;
            padding-top: 55px;
            padding-right: 50px;
            padding-left: 50px;
            background-color: $liteWhite;
            height: 100vh;
            transform: translateX(100%);
            transition: $transition;
            &--active{
                transform: translateX(0);
                transition: $transition;
            }
        }

        &__menu-list{
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        &__burger-btn{
            display: block;
            z-index: 4;
            width: 30px;
            height: 20px;
            cursor: pointer;
            position: relative;
            &::after,
            &::before,
            & span {
                position: absolute;
                content: '';
                width: 100%;
                height: 1px;
                background-color: $black;
            }

            &::after{
                bottom:2%;
                transition: $transition;
            }

            &::before{
                top: 0%;
                transition: $transition;
            }

            & span{
                top: 46%;
            }

            &--active{
                &::after{
                    transform: rotate(-40deg);
                    transition: $transition;
                    bottom: 45%;
                }

                &::before{
                    transform: rotate(40deg);
                    transition: $transition;
                    top: 45%;
                }

                & span {
                    transform: scale(0);
                }
            }
            

        
        }
    }
}

@media (max-width: 500px) {
    .header{
        &__content{
            padding-top: 30px;
            padding-bottom: 60px;
        }
        &__title{
            font-size: 30px;
            line-height: 38px;
        }

        &__text{
            font-size: 12px;
            line-height: 20px;
            margin-bottom: 20px;
        }
    }
}


